<div class="container">

  <div class="row">
    <div class="col">
      <h1 class="primary">Angular Material dynamic theme</h1>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Testing dynamic theme switching</mat-card-title>
          <mat-card-subtitle>Current primary color: {{primaryColor}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ul>
            <li>
              <a href="http://mcg.mbitson.com/#!?mcgpalette0=%233f51b5" target="_blank">Material Design Palette
                Generator</a>
            </li>
            <li>
              <a href="https://github.com/bgrins/TinyColor" target="_blank">TinyColor</a>
            </li>
          </ul>

        </mat-card-content>
      </mat-card>

      <mat-card class="mt-5">
        <mat-card-header>
          <mat-card-title>
            <span class="primary">Fancy dynamic title</span>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row">
            <div class="col">
              <button mat-raised-button color="primary">Sample button</button>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <span class="primary">Progress bar:</span>
              <mat-progress-bar color="primary" mode="determinate" value="40" class="mt-4"></mat-progress-bar>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="row m-4">
    <div class="col text-center">
      <button mat-raised-button color="primary" class="mw-150" (click)="savePrimaryColor('#13a542');">Set Green Theme</button>
      <button mat-raised-button color="primary" class="ml-4 mw-150" (click)="savePrimaryColor('#fc4a14');">Set Orange Theme</button>
      <button mat-raised-button color="primary" class="ml-4 mw-150" (click)="savePrimaryColor('#2196F3');">Reset</button>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col">
      <p>Primary Color Palette</p>
      <div *ngFor="let color of primaryColorPalette" [style.background-color]="color.hex"
           [style.color]="color.darkContrast ? 'black' : 'white'">
        {{color.name}}
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
